# Azure OpenAI Variables
OPENAI_API_VERSION=<OPENAI_API_VERSION>
AZURE_OPENAI_ENDPOINT=<AZURE_OPENAI_ENDPOINT>
AZURE_OPENAI_API_KEY=<AZURE_OPENAI_API_KEY>

# MongoDB Atlas Connection Variables
MONGODB_USER=TestUser
MONGODB_PASSWORD=TestUser
MONGODB_PORT=27017
DB_NAME=langserve
CHAT_HISTORIES_COLLECTION=chat_history