langserve[all]==0.3.0
langchain-community==0.3.0
langchain-openai==0.2.0
jupyter-client==8.6.3
jupyter-core==5.7.2
ipykernel==6.29.5
fastapi-azure-auth==5.0.1
langchain-mongodb==0.2.0
pymongo[srv]==4.9.1
python-dotenv==1.0.1